@import "utils/variables";
@import "utils/mixins";
@import "utils/extensions";
@import "layout/footer";

html {
    margin: 0 auto;
    max-width: 1920px;
}

body {
    margin: 0px;
    @extend %Footer;
}

header {
    height: 50px;
    width: 100%;
    @include flexCenter;

    >.logo{
        @extend %FontTitre;
        margin-left: auto;
        margin-right: auto;
    }
    >.return{
        margin-left: 10px;
        font-size: 20px;
    }
}

a {
    text-decoration: none;
  }

// ------------------------------------------------------------------------------------------------Index

.content{
    animation: apparition 2.5s cubic-bezier(1,0,1,-0.18);
}

@keyframes apparition {
    0% { opacity: 0;}
    100% { opacity:1}
}

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid $colour-primary;
    border-radius: 50%;
    border-top: 16px solid $colour-secondary;
    animation: spin 2s linear;
    opacity: 0;
  }
  
  @keyframes spin {
    0% { opacity: 1; }
    1% { transform: rotate(0deg); }
    99% { transform: rotate(360deg); }
    100% {opacity: 1;}
  }

.localisation {
    background-color: $colour-localisation;
    box-shadow: inset 0px 5px 5px 0px rgb(0 0 0 / 30%);
    @include flexCenter;

    >&__logo {
        margin: 15px;
    }
    >&__text {
        @extend %FontText;
    }
}

.blocText {
    background-color: $colour-accueil;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    >&__h2 {
        @extend %FontGrosText;
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 0px;
        height: 60px;
        width: 240px;
        @media all and (min-width: 769px){
            height: 35px;
            width: 400px;
        }
        
    }
    >&__p {
        @extend %FontText;
        text-align: center;
        margin-top: 5px;
        height: 36px;
        width: 320px;
    }
    >&__button {
        @extend %FontText;
        background-image: linear-gradient(to bottom right, $colour-secondary 5%, $colour-primary);
        box-shadow: 6px 6px 25px rgb(0 0 0 / 20%);
        border-radius: 30px 30px 30px 30px;
        margin-bottom: 50px;
        border-style: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        transition: all;
        transition-duration: 1000ms;
        >a {
            color: white;
        }
        &:hover {
            background-image: linear-gradient(to bottom right, lighten($colour-secondary, 5) 5%, lighten($colour-primary, 5));
            box-shadow: 10px 11px 14px 0px rgb(0 0 0 / 30%);
        }
    }
}

.Fonctionnement {
    @media all and (min-width: 769px){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    >&__titre{
        @extend %FontGrosText;
        display: flex;
        margin-left: 7%;
        @media all and (min-width: 769px){
            width: 100%;
            margin-right: 50px;
            margin-left: 6%;
        }
    }
    
}

.V1 {
    display: flex;
    align-items: center;
    height: 60px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 6px 6px 25px rgb(0 0 0 / 20%);
    @media all and (min-width: 426px) and (max-width: 768px){
        height: 80px;
        margin-left: 5%;
        margin-right: 5%;
    }
    @media all and (min-width: 769px){
        height: 60px;
        width: 28%;
        margin-left: 15px;
        margin-right: 0%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    >&__numéro {
        padding-right: 5px;
        padding-left: 5px;
        background: $colour-primary;
        color: white;
        border-radius: 15px 15px 15px 15px;
        position: relative;
        right: 10px;
    }
    >&__logo {
        color: $colour-iconesV1;
        margin-right: 10px;
    }
    >&__text {
        @extend %FontText;
    }
}

.V1:hover {
    background-color: $colour-fondV2;
    >.V1__logo {
        color: $colour-primary;
    }
}

.Restaurants {
    background-color: $colour-accueil;
    display: flex;
    flex-direction: column;
    @media all and (min-width: 769px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 40px;
    }

    >&__titre{
        @extend %FontGrosText;
        margin-bottom: 0px;
        margin-left: 7%;
        margin-top: 40px;
        @media all and (min-width: 426px) and (max-width: 768px){
            margin-left: 4%;
        }
        @media all and (min-width: 769px) {
            width: 100%;
            margin-left: 0%;
        }
    }

    >a {
        @media all and (min-width: 769px) {
            margin-right: 0px;
            margin-left: 0px;
            width: 48%;
        }
    }
}

.Carte {
    display: flex;
    flex-direction: column;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    @media all and (min-width: 426px) and (max-width: 768px){
        width: 92%;
    }
    @media all and (min-width: 769px){
        margin-bottom: 30px;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 20px;
    }

    >&__image{
        box-sizing: border-box;
        object-fit: cover;
        width: 100%;
        max-height: 120px;
        border-radius: 20px 20px 0px 0px;
        @media all and (min-width: 426px) and (max-width: 768px){
            max-height: 200px;
        }
        @media all and (min-width: 769px){
            max-height: 200px;
            width: auto;
        }
    }
    >&__fig{
        border-radius: 0px 0px 20px 20px;
        background: white;
        color: black;
        position: relative;
    }

    &__titre{
        font-family: $font-text;
        margin-top: 10px;
        margin-bottom: 0%;
        margin-left: 10px;
    }
    &__text{
        font-family: $font-text;
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    &__coeurVide{
        position: absolute;
        left: 90%;
        bottom: 25px;
    }

    &__coeurPlein{
        background-image: linear-gradient(to bottom right, $colour-secondary 5%, $colour-primary);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        position: absolute;
        left: 90%;
        bottom: 25px;
        transform-origin: bottom;
        transform: scale(0);
        transition: all 2s linear;
    }

    .Carte__coeurVide:hover + .Carte__coeurPlein{
        transform: scale(1);
        }

    &__nouveau{
        position: absolute;
        left: 72%;
        bottom: 125px;
        padding: 5px;
        font-family: $font-text;
        background-color: aquamarine;
        color: rgb(55 99 23);
        @media all and (min-width: 426px) and (max-width: 768px){
            left: 80%;
            bottom: 200px;
        }
        @media all and (min-width: 769px){
            left: 75%;
            bottom: 200px;
        }
    }
}

// ------------------------------------------------------------------------------------------------Menus

.imgBox{
    display: flex;
    flex-direction: column;
    >&__image{
        box-sizing: border-box;
        object-fit: cover;
        max-height: 220px;
    }
}

.Menu{
    display: flex;
    flex-direction: column;
    background-color: $colour-accueil;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    bottom: 20px;
    margin-bottom: -20px;
    padding-bottom: 20px;
    

    >button {
        @extend %FontText;
        background: linear-gradient(to bottom right, $colour-secondary 5%, $colour-primary);
        box-shadow: 6px 6px 25px rgb(0 0 0 / 20%);
        border-radius: 30px 30px 30px 30px;
        border-style: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 50%;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        transition: all;
        transition-duration: 1000ms;
        >a {
            color: white;
        }
        &:hover {
            background-image: linear-gradient(to bottom right, lighten($colour-secondary, 5) 5%, lighten($colour-primary, 5));
            box-shadow: 10px 11px 14px 0px rgb(0 0 0 / 30%);
        }
    }
}

.TitrePage{
    position: relative;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media all and (min-width: 426px) and (max-width: 768px){
        margin-left: 80px;
    }

    >&__text{
        font-family: $font-titles;
        margin-left: 10px;
    }
    >&__coeurVide{
        position: absolute;
        left: 90%;
    }
    
    >&__coeurPlein{
        background-image: linear-gradient(to bottom right, $colour-secondary 5%, $colour-primary);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        position: absolute;
        left: 90%;
        transform-origin: bottom;
        transform: scale(0);
        transition: all 2s linear;
    }
}

.TitrePage__coeurVide:hover + .TitrePage__coeurPlein{
    transform: scale(1);
    }

.Entrées{
    animation: charge 1s cubic-bezier(1,0,1,-0.18);
    
    @keyframes charge {
        0% { opacity: 0;}
        100% { opacity:1}
    }
    >&__titre{
        font-family: $font-text;
        font-size: 15px;
        color: $colour-iconesV1;
        border-bottom: 3px solid $colour-tertiary;
        width: 30px;
        margin-top: -10px;
        margin-left: 20px;
        @media all and (min-width: 426px) and (max-width: 768px){
            margin-left: auto;
            margin-right: auto;
            padding-right: 45px;
            padding-left: 10px;
            font-size: 20px;
        }
    }
}

.Plats{
    animation: charge 1.5s cubic-bezier(1,0,1,-0.18);
    
    @keyframes charge {
        0% { opacity: 0;}
        100% { opacity:1}
    }
    >&__titre{
        font-family: $font-text;
        font-size: 15px;
        color: $colour-iconesV1;
        border-bottom: 3px solid $colour-tertiary;
        width: 30px;
        margin-left: 20px;
        @media all and (min-width: 426px) and (max-width: 768px){
            margin-left: auto;
            margin-right: auto;
            padding-right: 25px;
            padding-left: 10px;
            font-size: 20px;
        }
    }
}

.Desserts{
    animation: charge 2s cubic-bezier(1,0,1,-0.18);
    
    @keyframes charge {
        0% { opacity: 0;}
        100% { opacity:1}
    }
    >&__titre{
        font-family: $font-text;
        font-size: 15px;
        color: $colour-iconesV1;
        border-bottom: 3px solid $colour-tertiary;
        width: 30px;
        margin-left: 20px;
        @media all and (min-width: 426px) and (max-width: 768px){
            margin-left: auto;
            margin-right: auto;
            padding-right: 55px;
            padding-left: 10px;
            font-size: 20px;
        }
    }
}

.blocMenu {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 6px 6px 25px rgb(0 0 0 / 20%);
    align-items: center;
    @media all and (min-width: 426px) and (max-width: 768px){
        width: 80%;
        height: 65px;
    }
    >&__check {
        background-color: $colour-tertiary;
        overflow: hidden;
        padding: 7%;
        width: 10%;
        transform: rotate(0);
        transition: all 500ms linear; 
    }
}

.blocMenu:hover + .blocMenu__check {
    transform: rotate(360);
    width: 10%;
    padding: 7%;
}

.CarteMenu{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    >&__titre{
        text-overflow: ellipsis;
        font-family: $font-text;
        font-size: 15px;
        margin-left: 10px;
        margin-bottom: 0px;
    }
    
}

.DivMenu {
    display: flex;
    justify-content: space-between;
    font-family: $font-text;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    
    >&__text{
        text-overflow: ellipsis;
        font-size: 12px;
        margin-bottom: 0px;
        margin-top: 2px;
    }
    >&__prix{
        margin-bottom: 0px;
        margin-top: 2px;
    }
}

