$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-accueil: #f2f2f2;
$colour-localisation: #DADADA;
$colour-iconesV1: #9E9E9E;
$colour-fondV2: #F0E3FF;

$font-titles: 'Shrikhand';
$font-text: 'Roboto';