%Footer{

    footer{
        display: flex;
        flex-direction: column;
        background-color: #454545;
    
        >h2{
            font-family: $font-titles;
            font-size: 15px;
            color: white;
            margin: 10px;
        }
        >.footerList{
            display: flex;
            flex-direction: column;
            margin: 10px;
            >a{
                color: white;
            }
        }
    }

}